<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="subscriptionKey" value="&lt;Subscription Key&gt;"/>
    <add key="apiRoot" value="https://westcentralus.api.cognitive.microsoft.com/face/v1.0"/>
    <add key="samplesDir" value ="../../../samples"/>
  </appSettings>
  
</configuration>